<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Message" type="com.model.Message"/>
		<typeAlias alias="User" type="com.model.User"/>
		<typeAlias alias="News" type="com.model.News"/>
		<typeAlias alias="Type" type="com.model.Type"/>
		<typeAlias alias="Subscribe" type="com.model.Subscribe"/>
	</typeAliases>
	<mappers>
		<mapper resource="com/mapper/MessageMapper.xml"/>
		<mapper resource="com/mapper/UserMapper.xml"/>
		<mapper resource="com/mapper/TypeMapper.xml"/>
		<mapper resource="com/mapper/NewsMapper.xml"/>
	</mappers>
</configuration>