<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.GoodsMapper">
	
	<select id="findAllGoods" resultType="com.model.Goods">
		select * from goods
	</select>
	
	<insert id="addGoods" parameterType="com.model.Goods">
		insert into goods(goodsId,goodsName,goodsPrice,goodsImg,goodsInfo) values(null,#{goodsName},#{goodsPrice},#{goodsImg},#{goodsInfo})
	</insert>
	
	<delete id="delGoods" parameterType="int">
		delete from goods where goodsId=#{id }
	</delete>
	
</mapper>