<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.NewsMapper">

	<insert id="addNews" parameterType="News">
		insert into news(newsId,newsTitle,newsContent,newsImg,newsLike,userId,newsStatus,typeId,publishTime) values(null,#{newsTitle},#{newsContent},#{newsImg},0,#{userId},0,#{typeId},#{publishTime})
	</insert>

	
	 <select id="findByPage" resultType="News" parameterType="map">
		select * from news  where newsStatus=1 limit #{page},#{pageSize}
</select> 
<select id="getCount" resultType="int">
select count(*) from news where newsStatus=1
</select>




<select id="findNewsByNewsId" resultType="News" parameterType="int">
select * from news where newsId=#{newsId}
</select>
<select id="findAll" resultType="News" >
select * from news where newsStatus=0
</select>
<update id="passNews" parameterType="int">
	update news set newsStatus=1 where newsId=#{id}
</update>
<update id="dispassNews" parameterType="int">
	update news set newsStatus=2 where newsId=#{id}
</update>
 <select id="findHotNews" resultType="News" >
		select * from news where newsStatus=1  order by newsLike limit 10
</select>
<select id="findPointNews" resultType="News">
select * from news where newsStatus=1 order by publishTime limit 10

</select>



</mapper>