<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">

	<insert id="addNews" parameterType="News">
		insert into news(newsId,newsTitle,newsContent,newsImg,newsLike,userId,newsStatus,typeId,publishTime) values(null,#{newsTitle},#{newsContent},#{newsImg},0,#{userId},0,#{typeId},#{publishTime})
	</insert>

	<!-- <update id=""></update> -->
	<!-- <select id="findAllNews" resultType="News" >
	select * from news
	</select> -->
	 <select id="findAllNews" resultType="News" parameterType="map">
		select * from news  limit #{pageStart},#{pageSize}
</select> 
</mapper>