<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.NewsMapper">

	<insert id="addNews" parameterType="News">
		insert into news(newsId,newsTitle,newsContent,newsImg,newsLike,userId,newsStatus,typeId,publishTime) values(null,#{newsTitle},#{newsContent},#{newsImg},0,#{userId},0,#{typeId},#{publishTime})
	</insert>

	
	 <select id="findByPage" resultType="News" parameterType="map">
		select * from news  limit #{page},#{pageSize}
</select> 
<select id="getCount" resultType="int">
select count(*) from news
</select>




<select id="findNewsByNewsId" resultType="News" parameterType="int">
select * from news where newsId=#{newsId}
</select>




</mapper>