<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.VideoMapper">
	<insert id="addVideo" parameterType="Video">
	insert into
		video(videoId,videoName,videoPath,videoLike,videoRealName,dTimes,userId)
		values(null,#{videoName},#{videoPath},#{videoLike},#{videoRealName},#{dTimes},#{userId})
	</insert>
	<select id="All" resultType="com.model.Video"  parameterType="int">
select * from video where userId=#{id}
</select>
	<select id="findAllVideo" resultType="Video">
	select * from video
	</select>
	<select id="findVideoById" resultType="Video" parameterType="int">
	select * from video where videoId=#{id}
	</select>
	<update id="addLike" parameterType="int">
	 update video set videoLike=videoLike+1 where videoId=#{id}
	</update>
	<update id="addDTimes" parameterType="int">
	 update video set dTimes=dTimes+1 where videoId=#{id}
	</update>
</mapper>